.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.outerExerciseContainer {
    height: 1000px;
    width: 100vw;
    border: 5px solid #3252a8;
    display: flex;
    padding: 15px;
    /* border-radius: 8px; */
    background: #f0f0f0;
}

.categoryAndSelectedContainer {
    flex: 0.22;
}

.categoryContainer {
    height: 50%;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.selectedContainer {
    border: 1px solid black;
    border-radius: 5px;
    height: 47.5%;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.exercisesContainer {
    flex: 0.78;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 5px;
    background: snow;
}

.nameList {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.categoryText {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3252a8;
    color: white;
    font-weight: bold;
}

.exerciseContainer {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 957px;
}

.exercisesText {
    background: 3252a8;
    background: #3252a8;
    height: 4%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.exerciseImages {
    height: 190px;
    width: 190px;
    max-width: 190px;
    margin-bottom: 3px;
    /* cursor: pointer; */
    /* padding: 10px; */
}

.exerciseTile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 190px;
    /* border: 2px solid #3050a6; */
    min-width: 190px;
    margin: 5px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}

.exerciseNameTile {
    text-align: center;
}

.textAndButton {
    height: 11.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3252a8;
    color: white;
    font-weight: bold;
}

.miniExerciseImage {
    height: 60px;
    width: 60px;
    margin-right: 25px;
}

.miniExerciseBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #3252a8;
    padding: 7px;
    margin-top: 7px;
    font-weight: 450;
}

.miniExerciseImageAndInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniExerciseName {
    margin-bottom: 10px;
    font-weight: 800px;
}

.bigSelectedBox {
    padding: 0px 5px 5px 5px;
}

.MuiSvgIcon-root {
    color: white;
}

.pleaseSelectText {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40em;
    font-size: x-large;
}

.selectedEmptyText {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 24em;
    align-items: center;
}


/* .MuiTypography-h6-336 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.0075em;
} */

.cardContent {
    padding: 16px 16px 0px 16px;
}

.MuiCardActions-root {
    display: flex;
    /* padding: 8px; */
    align-items: center;
}


/* .MuiCardContent-root {
    padding: 16px 16px 0px 16px;
} */