.footerContainer {
    height: 160px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoFooter img {
    height: 60px;
    width: 200px;
    padding: 20px;
}

.footerInformation {
    padding: 20px;
}

h2,
h5 {
    color: black;
    text-align: center;
}

.link__logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link__logo1 {
    margin-right: 10px;
}

.link__logo2 {
    margin-left: 10px;
}

.disclaimer {
    font-size: 12px;
    padding: 35px;
}