.diagnosisContainer {
    height: fit-content;
    width: 75vw;
    display: flex;
    flex-direction: column;
    border: 4px solid #154360;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
}

.recommendedContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagnosisNameHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    font-size: 30px;
}

.diagnosisName {
    font-weight: 600;
    margin-bottom: 8px;
}

.tryTheseText {
    margin-bottom: 20px;
    font-weight: 500;
}

.diagnosisEducation {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 32px;
}

.diagnosisExerciseTile {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    border: 2px solid#154360;
    padding: 8px 20px;
    border-radius: 5px;
}

img.exerciseImage {
    height: 140px;
    width: 250px;
    margin-right: 20px;
}

.diagnosisExerciseName {
    min-width: 185px;
}

.diagnosisExerciseDescription {
    text-align: justify;
    line-height: 30px;
}