/* modal css */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(100px);
    transition: all 200ms ease-in-out;
    z-index: 15;
}

.ReactModal__Overlay--after-open {
    /* background-color: hsla(0, 0%, 94.9%, 0.9); */
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(100px);
    /* transform: translateY(100px); */
    /* transition: all 500ms ease-in-out; */
}

.OuterModalExercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
}

.InnerModalExercise {
    text-decoration: none;
    height: 100%;
    background: white;
    height: fit-content;
    border-radius: 20px;
    /* position: fixed; */
}

.InnerModalExercise:focus {
    outline: 0;
}


/* exercise picker css */

.exercise-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 1500px;
    max-width: 700px;
    /* border-radius: 20px; */
    box-sizing: border-box;
    background: #f0f0f0;
    border: 2px solid #3252a8;
}

img.exercise-image {
    height: 240px;
    width: 240px;
}

.exercise-modal-title {
    /* top: 0px; */
    display: flex;
    justify-content: center;
    font-size: 28px;
    border-bottom: 1px solid gray;
    font-weight: 600;
    padding-bottom: 9px;
}

.exercise-modal-image-and-description {
    display: flex;
}

.exercise-description-and-inputs {
    display: flex;
    padding: 0px 0px 2px 20px;
    flex-direction: column;
    font-size: 16px;
}

.exercise-inputs {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: space-between;
    padding: 20px;
    margin-right: 30px;
}

.exercise-modal-form {
    padding: 25px;
}

.setInput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.repInput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.timesPerWeekInput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.inputField {
    height: 20px;
    padding-left: 5px;
    border-radius: 4px;
}