/* modal css */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(100px);
    transition: all 200ms ease-in-out;
    z-index: 15;
}

.ReactModal__Overlay--after-open {
    /* background-color: hsla(0, 0%, 94.9%, 0.9); */
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(100px);
    /* transform: translateY(100px); */
    /* transition: all 500ms ease-in-out; */
}

.OuterModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
}

.InnerModal {
    text-decoration: none;
    height: 100%;
    background: white;
    height: fit-content;
    border-radius: 20px;
    /* position: fixed; */
}

.InnerModal:focus {
    outline: 0;
}


/* rest of the css */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    max-width: 440px;
    width: 1000px;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
}

.signup-inputs {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 400px;
    height: 46px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 7px;
}

.signup-inputs-container {
    box-sizing: border-box;
    border-radius: 5px;
    height: 226px;
}

.close__modal__signup {
    position: relative;
    font-size: 16px;
    bottom: 50px;
    right: 250px;
    border: none;
    border-radius: 50%;
    color: gray;
}

.close__modal:hover {
    background-color: rgb(244, 244, 244);
}

#signup-title {
    display: flex;
    position: relative;
    bottom: 35px;
}