/* modal css */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(100px);
    transition: all 200ms ease-in-out;
    z-index: 15;
}

.ReactModal__Overlay--after-open {
    /* background-color: hsla(0, 0%, 94.9%, 0.9); */
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(100px);
    /* transform: translateY(100px); */
    /* transition: all 500ms ease-in-out; */
}

.OuterModalQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
}

.InnerModalQuestion {
    text-decoration: none;
    height: 100%;
    background: white;
    height: fit-content;
    border-radius: 20px;
    overflow-y: scroll;
    border-radius: 10px;
    outline: none;
    /* position: fixed; */
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.InnerModal:focus {
    outline: none;
}

.questionContainer {
    /* height: 25vh; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    border: 4px solid #154360;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    box-sizing: border-box;
    padding: 20px;
}

.promptAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt {
    text-align: center;
    line-height: 40px;
}

.backButton {
    position: relative;
    width: 100%;
    height: 100%;
}