.editContainer {
    display: flex;
}

form.editForm {
    display: flex;
}

textarea {
    height: 74px;
    width: 22rem;
}

.descriptionEditDiv {
    margin: 0px 16px;
}

.submitButton {
    width: -webkit-fill-available;
    background: transparent;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
    background: #3252a8;
    background-color: #2a265f;
    color: white;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    font-weight: 700;
    border: 0;
    letter-spacing: 1px;
}

.submitButton:hover {
    background: #5b7b90;
}

.editInputDivs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input.inputDiv {
    margin-left: 5px;
    padding-left: 5px;
    width: 35px;
}

.setInputDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.repInputDiv {
    display: flex;
    justify-content: space-between;
}

.timesPerWeekInputDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

.ExerciseBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 12%);
    display: flex;
    max-width: 100%;
    margin: 10px;
    /* padding: 15px; */
    overflow: hidden;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.ExerciseName h3 {
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0;
}

.ExerciseImageAndInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 305px;
    /* padding: 15px; */
    width: 30%;
}

.editContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 305px;
    /* padding: 15px; */
}

.ExerciseName {
    /* margin-bottom: 10px; */
    min-width: 105px;
    max-width: 100px;
    background-color: #2657bc;
    color: #fff;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exerciseDescription {
    padding: 10px;
    width: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deleteAndEditButtons {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-right: 10px;
    width: 30px;
    height: 70px;
    justify-content: space-between;
}

.strongDescription {
    margin-bottom: 0.5em;
}