.userContainer {
    display: flex;
    /* flex-direction: column; */
    padding: 30px;
    background: #f0f0f0;
}

.profileWelcome {
    /* display: flex; */
    /* padding: 30px 30px 0px 30px; */
    font-size: larger;
}

.exerciseContainers {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ExerciseImage {
    height: 100px;
    width: 100px;
    margin-right: 25px;
}

.ExerciseBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #3252a8;
    padding: 7px;
    margin-top: 7px;
    font-weight: 450;
    height: 150px;
}

.ExerciseImageAndInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExerciseName {
    margin-bottom: 10px;
    font-weight: 800px;
}

.profileSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.33 1;
    justify-content: center;
    border: 1px solid black;
    height: fit-content;
    margin-right: 14px;
}

.exerciseContainersAndButton {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    border: 6px solid #3252a8;
    padding: 20px;
    border-radius: 5px;
    height: 63em;
    overflow: scroll;
    background-color: white;
}

.addExerciseButton {
    margin-top: 10px;
}

.yourExercisesText {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.UpageBreak {
    display: flex;
}

.UpageBreak1 {
    width: 50%;
    background-color: #f0f0f0;
    height: 150px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.UpageBreak2 {
    height: 150px;
    width: 50%;
    background-color: #0663f0;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.UpageBreak3 {
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: #104db3;
    box-shadow: 0 -5px 5px -5px #333;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.UpageBreak4 {
    position: absolute;
    height: 75px;
    width: 100%;
    margin-top: 75px;
    background-color: #f0f0f0;
    box-shadow: 0 -5px 5px -5px #333;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.welcomeText {
    position: absolute;
    z-index: 10;
    margin-top: 70px;
    padding: 21px 42px 42px 42px;
}