.navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid gray;
    align-items: center;
    background: #f0f0f0;
}

.loginButton {
    background-color: green;
}

a {
    text-decoration: none;
}

.loginSignupContainer {
    display: flex;
}

.loginSignupLogoutContainer {
    display: flex;
}